@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --red: #823E3E;
    --gray: #f1f1f1;
    --green: #3F823E;
    --light-red: #FF7272;
    --highlight: #FCFF62;
    --gold: #82733E;
    --blue: #3E6982;
}

body {
    background-color: #F1D6AD !important;
}

.montserrat {
    font-family: 'Montserrat', system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.nav {
    z-index: 0;
}

.hero {
    position: relative;
    display: flex;
    background: url(/img/randomhatter.jpg) no-repeat center center/cover;
    height: 94.5vh;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    line-height: 82%;
    margin-bottom: 5vh;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(0.3);
    z-index: 0;
}

.hero-text, .hero img {
    position: relative;
    z-index: 1;
}

.hero img {
    display: block;
    max-height: 50vh;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -10px 10px var(--light-red);
    transition: all 0.3s ease-in-out;
}

.hero img:hover {
    border-radius: 10%;
    scale: 1.1;
    box-shadow: none;
}

.hero-text {
    font-size: 3rem;
    text-align: end;
    width: 25%;
}

.hero-text h1 {
    font-weight: 600;
    font-size: 3rem;
}

.hero-text .highlight {
    color: var(--highlight);
    font-family: 'Cookie', cursive;
    font-size: 1.5em;
    font-weight: normal;
}

.hero .btn {
    background-color: var(--light-red);
    padding: 0.6vh 2vw;
    font-variant: small-caps;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.hero .btn:hover {
    background-color: var(--red);
    color: white;
    scale: 1.1;
}

.recipe-card {
    max-height: 40vh;
    display: flex;
    width: 80vw;
    margin: 10vh auto;
    border-radius: 15px;
    color: white;
    font-family: 'Montserrat', system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    flex-direction: row;
    align-items: center;
    padding: 2vh 2vw;
}

.recipe-card img {
    width: auto;
    max-height: 25vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}

.recipe-card img:hover {
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 30%;
    rotate: -10deg;
}

.red-bg {
    background-color: var(--red);
}

.gray-bg {
    background-color: var(--gray);
}

.green-bg {
    background-color: var(--green);
}

.red-bg img {
    border: 1.5vw solid var(--red);
    float: left;
}

.gray-bg img {
    border: 1.5vw solid var(--gray);
    float: right;
}

.green-bg img {
    border: 1.5vw solid var(--green);
    float: left;
}

.recipe-card:nth-of-type(2) {
    color: black;
}

.recipe-card:nth-of-type(2) a.btn {
    color: black;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.15);
}

.recipe-card:nth-of-type(2) a.btn:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.25);
}

.recipe-content {
    flex-direction: column;
    align-items: center;
    padding: 1vh 3vw;
}

.recipe-content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1vh;
}

.recipe-card .btn {
    background-color: rgba(255, 255, 255, 0.15);
    font-family: "Lobster Two", sans-serif;
    font-style: italic;
    color: white;
    font-size: 1.3rem;
    border-radius: 50px;
    padding: 0.2vh 1vw;
    transition: all 0.3s ease-in-out;
}

.recipe-card .btn:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

footer {
    background-color: black;
    color: white;
    width: 100vw;
    text-align: center;
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vw;
    margin-top: 5vh;
}

footer > p {
    width: 30%;
    word-wrap: break-word;
    margin-bottom: 0;
    opacity: 0.2;
}

@media screen and (max-width: 728px) {
    .hero img {
        display: none
    }

    .hero-text {
        width: 90% !important;
        text-align: center;
    }

    footer > p {
        width: 100% !important;
    }

    .recipe-content {
        text-align: justify !important;
        text-align-last: center;
    }

    .recipe-card img:hover {
        border-radius: 50px;
    }
}

@media screen and (max-width: 1137px) {
    .hero {
        flex-direction: column;
    }

    .hero img {
        max-height: 30vh;
    }

    .hero-text {
        width: 50%;
        text-align: center;
    }

    footer > p {
        width: 50%;
    }

    .recipe-card {
        flex-direction: column;
        margin: 2vh auto;
        max-height: fit-content;
    }

    .recipe-card img {
        max-height: 20vh;
        border-radius: 50px;
    }

    .recipe-content {
        padding: 1vh 2vw;
        text-align: center;
    }

    .recipe-card .btn {
        padding: 1vh 5vw;
    }
}